<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet" /> -->
    <title>Document</title>
</head>
<body>      
    <header>
        <div class="wrapper">
            <h1><a href="{% url 'home' %}">CheapGrocery<span class="color">. </a></h1>
        </div>
    </header>
    {% block content %}
    <h1>Add a grocery</h1>
    <form method="post"> {% csrf_token %}
        <label for="item_name">Item Name</label>
        <input type="text" value="" name="item_name">
        <label for="item_price">Item Price</label>
        <input type="text" value="" name="item_price">
        <label for="item_mall">Item Mall</label>
        <select name="item_mall">
            <option value="Walmart">Walmart</option>
            <option value="Albertsons">Albertsons</option>
            <option value="Broulim's">Broulim's</option>
        </select>
        <input type="submit" value="Save" name="">
    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
    {% endblock content %}
</body>
</html>