<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet" /> -->
    <title>Document</title>
</head>
<body id = "results">      
    <header>
        <div class="wrapper">
            <h1><a href="{% url 'home' %}">CheapGrocery<span class="color">. </a></h1>
        </div>
    </header>
    {% block content %}
    <h1>Add a grocery</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">Item Name</label>
        <input type="text" value="" name="item_name">
        <label for="">Item Comment</label>
        <input type="text" value="" name="item_comment">
        <label for="">Item Rate</label>
        <input type="text" value="" name="item_rate">
        <label for="">Date</label>
        <input type="date" class="datepicker" name="date">  
            <!-- <script>
            $('.datepicker').pickadate({
                selectMonths: true, // Enable Month Selection
                selectYears: 10, // Creates a dropdown of 10 years to control year
                defaultDate: new Date()
            });
            </script> -->
        <label for="">Item Price</label>
        <input type="text" value="" name="item_price">
        <label for="">Item Mall</label>
        <input type="text" value="" name="item_mall">
        <input type="submit" value="Save" name="">
    </form>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
        <!-- <script>
            document.addEventListener('DOMContentLoaded', function() {
            var options = {
                defaultDate: new Date(2018, 1, 3),
                setDefaultDate: true
            };
            var elems = document.querySelector('.datepicker');
            var instance = M.Datepicker.init(elems, options);
            // instance.open();
            instance.setDate(new Date(2018, 2, 8));
            });
        </script> -->
    {% endblock content %}
</body>
</html>