/*Search Bar*/
body {
    width: 75%;
    margin: auto;
    background-color: rgb(2, 133, 255);
    min-width: 950px;
}

h1 {
    text-align: center;
    margin-top: -90px;
}

.search-results {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-results:hover>.search-text {
    width: 240px;
    padding: 0 6px;
    color: rgb(0, 0, 0);
}

.search-results:hover>.search-btn {
    background: rgb(0, 0, 0);
}

.search-results:hover>.search-btn {
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

.search-btn {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    justify-content: center;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.search-text:focus {
    width: 240px;
    padding: 0 6px;
    color:rgb(102, 101, 101)
}

.logo-image {
    align-items: center;
    margin: auto;
}

img {
    width: 110px;
    height: 20%;
    display: block;
    margin: auto;
    padding: 10%;
    left: 10%;
}

#results {
    display: flex;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#results img {
    width: 120px;
    height: 120px;
    padding: 5%;
    display: block;
    margin: auto;
    margin-top: -25px;
    margin-right: -50%;
}

.row {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: -10%;
    margin-right: 10%;
    object-fit: fill;
}

.update {
    font-size: 25px;
    font-weight: bold;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    
}

table, th, td {
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-image: linear-gradient(to right, #71b7e6, #9b59b6) 1;
}

table {
    width: 100%;
}

tr:hover {background-color: #71b7e6;}

th {
    background-color: #9b59b6;
    color: white;
  }